/* Mixins */
/* Variables */
/* Modifiers */
.text-white {
  color: white;
}

.text-linethrough {
  text-decoration: line-through;
}

.palebluedot {
  display: block;
}

.bluedot {
  color: #0000FF;
}

iframe {
  border: 0;
  background-color: transparent;
  width: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}

footer {
  padding: 15px 5px;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #060A24;
  padding: 5%;
}

h2 {
  color: #060A24;
  font-size: 36px;
  line-height: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  padding: 3% 5%;
  margin-top: 18px;
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 16px;
  height: 100%;
  color: #060A24;
  transition: transform 0.1s linear, font-size 0.1s linear;
}

ul {
  list-style: none;
}

p {
  font-size: 14px;
  padding: 0 5%;
  margin: 1rem 0;
  color: #060A24;
}

.button-normal {
  display: block;
  margin: 5%;
  width: 90%;
  height: 3rem;
  padding: 13px;
  color: #060A24;
  font-size: 16px;
  line-height: 22px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 50vw 0 20vw -15vw #00F0B8;
  background-color: #00F0B8;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button-normal:hover {
  background-color: #0000FF;
  color: white;
}

.nav__item:hover {
  font-size: 1.2rem;
}

.footer__social:hover {
  transform: scale(1.7);
}

/* Navigation */
footer {
  background: white;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 10px 16px;
}

.nav__icon {
  padding: 14px;
}

.nav__main {
  width: 100%;
}

.nav__menu {
  display: flex;
  background: #0000FF;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  height: 0px;
  transition: height 0.3s linear;
}

.nav__menu li {
  display: flex;
  justify-self: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
}

#nav__checkbox:checked + label .demo li {
  opacity: 1;
  visibility: visible;
}

#nav__checkbox:checked + label .demo {
  height: 224px;
}

.nav__item {
  color: white;
  width: 100%;
  opacity: 1;
}

.nav__item:hover {
  background: #6666ff;
  color: #00F0B8;
  text-decoration: line-through;
}

.nav__item:active {
  color: rgba(6, 10, 36, 0.5);
  text-decoration: line-through;
}

#nav__checkbox {
  display: none;
}

.toggle {
  display: block;
  text-align: right;
  cursor: pointer;
  height: 44px;
  transition: height 0.3s ease-out;
}

.toggle:hover {
  background: #ccd1f6;
}

/* Layout Containers */
h1 {
  margin-top: 13px;
}

.bg__contenedor {
  position: relative;
  margin-top: 2vh;
}

.bg__absolute__main {
  background: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 113%;
  clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}

.bg__absolute__novedades {
  background: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 105%;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}

.text__episodios {
  padding-top: 4vh;
}

.content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.content iframe {
  margin-bottom: 5px;
  padding: 0 11px;
}

#about {
  margin-top: 40px;
}

.about__block {
  display: flex;
  flex-direction: column;
}

.inter__flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2vh;
}

.topic__flex {
  padding: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.topic__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  justify-content: space-between;
  height: 150px;
}

#novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__novedades {
  text-align: center;
  height: 110%;
}

.text__novedades {
  margin-top: 15%;
}

.novedades__button {
  margin-bottom: 67px;
}

.footer__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 5%;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1023px) {
  h2 {
    margin-top: 36px;
  }

  .inter__flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .inter__img {
    width: calc(100% / 2);
  }

  .bg__contenedor {
    margin-top: 1vw;
  }

  .bg__absolute__main {
    background: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 125%;
    clip-path: polygon(0 5%, 100% 0%, 100% 94%, 0% 100%);
  }

  .bg__absolute__novedades {
    background: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media (min-width: 1024px) {
  header {
    height: 80px;
    padding: 0 100px;
  }

  footer {
    display: flex;
    padding: 0 100px;
    height: 15vh;
    align-items: center;
  }

  footer p {
    width: 100%;
    text-align: left;
  }

  h1 {
    padding: 0 200px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 64px;
  }

  h2 {
    padding-left: 200px;
    margin-top: 12px;
    font-size: 48px;
  }

  p {
    font-size: 16px;
  }

  .header__logo {
    position: relative;
    transform: scale(1.5);
    padding: 0;
    margin: 0;
  }

  .nav__menu {
    flex-direction: row;
    height: 100%;
    background: none;
    justify-content: flex-end;
  }

  .nav__menu li {
    visibility: visible;
    opacity: 1;
    width: auto;
    padding-left: 24px;
  }

  .nav__item {
    color: #060A24;
    visibility: visible;
    opacity: 1;
  }

  .nav__item:hover {
    background: none;
  }

  .toggle {
    display: none;
  }

  .palebluedot {
    display: inline;
  }

  .main__button {
    margin-left: 200px;
    margin-bottom: 10px;
  }

  .bg__absolute__main {
    background: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 120%;
    clip-path: polygon(0 19%, 100% 0%, 100% 94%, 0% 100%);
  }

  .text-white {
    padding-left: 200px;
    padding-top: 200px;
  }

  .main__p {
    font-size: 16px;
    padding-left: 200px;
    padding-right: 40vw;
  }

  .bg__contenedor {
    margin-top: 0;
  }

  .button-normal {
    font-size: 16px;
    margin-top: 40px;
    width: max-content;
    box-shadow: inset 15vw 0 6vw -5vw #00F0B8;
    padding: 0 59px;
    line-height: 3rem;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0 7%;
  }

  .content iframe {
    margin-bottom: 0;
  }

  .about__block {
    flex-direction: row;
    align-items: center;
    padding: 0 200px;
  }

  .about__block article,
.about__block p,
.about__block h2,
.about__block img {
    width: 32vw;
    text-align: left;
    padding-left: 30px;
  }

  .inter__flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .inter__img {
    width: calc(100% / 3);
  }

  .topic__flex {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12vw;
  }

  .topic__box {
    width: 220px;
  }

  .text__novedades {
    margin-top: 10%;
    padding: 3%;
  }

  .bg__absolute__novedades {
    background: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 105%;
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  }

  .footer__flex {
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
